@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
  
  background-image: url('images/background.jpg'); 
  background-size: cover; 
  font-size: 13px;
  font-style: normal;
}
.paragraph-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 45px;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  color: #ffffff; 
  text-align: center;
  margin-bottom: 10px; 
  line-height: 1.5; 
}

h1{
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  color: #ffffff; 
  text-align: center;
  margin-bottom: 30px; 
  line-height: 1.5; 

}

.book-preview-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.book-preview-item {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  margin-bottom: 20px; 
}

.book-preview-pagination {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #efd4e1;
  padding: 10px 20px;
  font-family: Arial, sans-serif;
}
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; 
}
.search-bar {
  display: flex;
  align-items: center; 
  margin-bottom: 20px;
}

.search-bar input[type="text"] {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  width: 300px; 
  box-sizing: border-box;
}

.search-bar button {
  padding: 10px 20px;
  background-color: #76475b;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}
.layout-title{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  font-size: 24px;
  color: #6d1c67;
}

.home-title {
  font-family: 'Poppins', sans-serif;
  margin: 20px 0; 
  font-size: 46px; 
  color: #ffffff;
  text-align: center; 
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

li {
  margin: 0;
}

li a {
  text-decoration: none;
  color: #fffbfb;
  font-weight: bold;
  font-size: 18px;
}

li a:hover {
  color: #ff00a6;
}


.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.form-box {
  background-color:  #efd4e1;
  padding: 2rem;
  box-shadow: 0 2px 5px 0  #7b2859;
  border-radius: 8px;
  width: 400px;
}

.button-box {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.toggle-btn {
  background-color: transparent;
  border: 2px solid #7b2859;
  color: #7b2859;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.toggle-btn.login {
  border-radius: 8px 0 0 8px;
}

.toggle-btn.register {
  border-radius: 0 8px 8px 0;
}

.toggle-btn:hover {
  background-color: #7b2859;
  color: #fff;
}

.input-group-login,
.input-group-register {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
  width: 100%;
  padding: 0.8rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.check-box {
  margin: 0.5rem 0;
}

.check-box span {
  margin-left: 0.3rem;
}

.submit-btn {
  background-color: #7b2859;
  color: #fff;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.submit-btn:hover {
  background-color: #7b2859;
}
.logout-container {
  display: flex;
  justify-content: center;
  margin-top: 10px; /* Adjust margin as needed */
}

